.header {
    background-color: #B3DCFD;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.header-content {
    font-size: 34px;
}
/* Добавляем стиль для анимации */
.image img {
    transition: transform 0.3s ease; /* Плавное изменение при наведении */
}

/* При наведении курсора изменяем размер изображения */
.image img:hover {
    transform: scale(1.05); /* Увеличиваем размер на 5% */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Устанавливаем количество колонок */
    gap: 20px; /* Расстояние между изображениями */
    padding: 20px;
}

.image {
    border: 1px solid #ddd; /* Обрамление изображения */
    border-radius: 5px;
    overflow: hidden; /* Скрываем выходящие за границы изображения */
}

.image img {
    width: 90%; /* Устанавливаем размер изображений */
    height: auto; /* Автоматическая высота для сохранения пропорций */
}
