<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<style>
        ul li a {
            font-size: 30px;
            color: white;
            text-decoration: none;
        }
        img{
            
        }
</style>
<body style="width: 100%; background-image: url('{{ url_for('static', filename='fone.png') }}');">
<ul>
    <li><a href="/items">Наши товары</a></li>
    <li><a href="/map">Где мы находимся?</a></li>
    <li><a href="/about">Контакты</a></li>
</ul>
</body>
</html>
