<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши товары</title>
    <style>
        img {
            width: 1000px;
        }
        h1 {
            text-align: center;
            font-size: 52px; /* Увеличиваем размер шрифта */
            color: white;
        }
        .map_img{
            text-align: center;
        }
        body {
        background-color: #101010;
        }
    </style>
</head>
<body>
<h1>Наш адрес: Проспект Мира 95</h1>
    <div class="map_img">
        <img src="{{ url_for('static', filename=map_file) }}" alt="Карта">
    </div>

</body>
</html>
